<article class="post">
        <div class="title">
            <a href="/post{{id}}">{{title}}</a>
            {{user.username}} on {{format_date created_at}}
        </div>
        <div class="meta">
            {{post_url}}
            <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        </div>
</article>